<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>OUR WEBSITE</div>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Theory</a>
      <a href="/album">Album</a>
      <a href="/join">Contact</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <div class="mid">
      <div class="headimg">
        <h1>ABOUT RESEARCH</h1>
      </div>
      <div class="ab a1">
        <div class="txt">
          <h2>Introduction to swamp pine</h2>
          <p>
            &emsp;&emsp; As a tree species introduced in the early 1930s of last
            century, the pine tree grows rapidly and ADAPTS well, which is an
            ideal tree species for afforestation. The research on the breeding
            of swamp pine mainly focuses on the characteristics of turpentine,
            seed orchard construction, genetic determination and so on.
          </p>
          <p>
            &emsp;&emsp;The shooting rhythm is also one of the important
            physiological characters of swamp pine. The research on the shooting
            count of swamp pine is still blank at present, which is an important
            breeding index.
          </p>
        </div>
        <div class="imghid">
          <div class="img"></div>
        </div>
      </div>
      <div class="ab a2">
        <div class="imghid">
          <div class="img"></div>
        </div>
        <div class="txt">
          <h2>Website introduction</h2>
          <p>
            &emsp;&emsp;This website is based on deep learning algorithm
            development, programming through Python language, automatic counting
            of swamp pine.
          </p>
          <p>
            Some studies have proved that the average number of shoot extraction
            can be used to investigate the relationship between young and adult
            growth rate, and is expected to be an early predictor. The study on
            the number of shoot extraction of introduced species is an important
            way to understand their growth characteristics and adaptability.
            This website can automatically count the number of swamp pine
            shoots, which will bring great convenience to users.
          </p>
        </div>
      </div>
      <div class="ab a3">
        <div class="txt">
          <h2>
            At present, there are few researches on the shoot counting of swamp
            pine. in China, so we mainly applied it to the construction of the
            shoot counting model of swamp pine, to realize the automatic
            calculation of the number of shoot shooting of swamp pine, so as to
            realize the precise and efficient shoot counting of swamp pine., and
            to provide the technical support of intelligent seed examination for
            swamp pine breeders.
          </h2>
        </div>
        <div class="imghid">
          <div class="img"></div>
        </div>
      </div>
    </div>
    <footer class="foot">
      <p>About</p>
      <p>Cease to struggle and you cease to live</p>
    </footer>
  </body>
</html>
