<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theory</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/blog.css" />
    <style>
      .lianjie {
        font-size: 1.5em;
        text-decoration: none;
      }
      .lll {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>OUR WEBSITE</div>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Theory</a>
      <a href="/album">Album</a>
      <a href="/join">Contact</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <div class="mid">
      <div class="content">
        <div class="con c1">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>Drones collect data sets</h2>
            <p>&emsp;&emsp;Build the data set that the algorithm processes.</p>
            <p>
              Achieve the accurate extraction of individual tree crown image.
            </p>
          </div>
        </div>
        <div class="con c2">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>Deep learning processing</h2>
            <p>
              &emsp;&emsp; Deep learning studies how to use multi-layer
              structure to automatically learn and represent the potential
              distribution features of model data. It reduces the requirements
              on sample data quantity and labeling, and automatically extracts
              the hierarchical features required by classification through
              undirected training process, which has many attributes different
              from existing machine learning technologies. With the
              characteristics of more accurate data, this research is based on
              deep learning development.
            </p>
          </div>
        </div>
        <div class="con c3">
          <div class="imghid">
            <div class="img"></div>
          </div>
          <div class="txt">
            <h2>Running process</h2>
            <p>
              Establish the Flask development environment, and understand the
              application method of the Flask lightweight Web framework. Using
              Python to read files, using appropriate data structures to store
              the data in the file structurally; Design simple front-end pages
              with html, css and js, transmit data to the server through Ajax,
              read and write data, and display data in files on the website
              through Flask framework.
            </p>
          </div>
        </div>
      </div>
      <div class="pri">
        <div class="prihead">
          <a href="join.html"><div class="tx"></div></a>
          <h2>SDAU</h2>
          <p>Let science and technology negative energy for agriculture</p>
        </div>
        <div class="tag">
          <h2>Application technology Deep learning</h2>
          <p class="lll">
            <a
              href="https://baike.baidu.com/item/%E6%B7%B1%E5%BA%A6%E5%AD%A6%E4%B9%A0/3729729"
              class="lianjie"
              target="_blank"
              >Deep learning
            </a>
            <br />
            <br />
            <a
              href="https://zhuanlan.zhihu.com/p/27159928"
              class="lianjie"
              target="_blank"
              >Machine learning</a
            >
          </p>
          <!--&emsp;HTML&emsp;&emsp;CSS&emsp;&emsp;&emsp;JavaScript&emsp;Pytorch &emsp; Python &emsp; Bootstrap &emsp;-->
        </div>
      </div>
    </div>
    <footer class="foot">
      <p>Theory</p>
      <p>Cease to struggle and you cease to live</p>
    </footer>
  </body>
</html>
