<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/homestyle.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
<!--    <script src="../static/js/zoom.js"></script>-->
    <title>计数网站</title>
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>OUR WEBSITE</div>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Theory</a>
      <a href="/album">Album</a>
      <a href="/join">Contact</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <main class="main">
      <section class="sec">
        <div class="titleimg">
          <div class="title">
            &emsp;Smart Agriculture <br />
            Automatic detection and counting of slash pine
          </div>
        </div>
      </section>
      <section class="sec">
        <a href="about.html">
          <div class="part1 pt">
            <div class="imghid"><div class="img"></div></div>
            <div class="txt">
              <h1>About</h1>
              <p><strong>Introduction to slash pine</strong></p>
              <br />
              <p><strong>Website introduction</strong></p>
            </div>
          </div>
        </a>
        <a href="blog.html">
          <div class="part2 pt">
            <div class="txt">
              <h1>Theory</h1>
              <br />
              <p><strong>Deep learning algorithm model</strong></p>
              <br />
              <p><strong>Integrated technology of machine vision</strong></p>
            </div>
            <div class="imghid"><div class="img"></div></div>
          </div>
        </a>
        <a href="album.html">
          <div class="part3 pt">
            <div class="imghid"><div class="img"></div></div>
            <div class="txt">
              <h1>Experiment</h1>
              <p><strong>Dataset priture </strong></p>
              <br />
              <p><strong>Dataset processing</strong></p>
            </div>
          </div>
        </a>
        <a href="join.html">
          <div class="part4 pt">
            <div class="txt">
              <h1>Contact</h1>
              <br />
              <p><strong>QQ:1652772212</strong></p>
              <br />
              <p><strong>WeChat:X-Lighting77</strong></p>
            </div>
            <div class="imghid"><div class="img"></div></div>
          </div>
        </a>
      </section>
      <footer class="foot">
        <p>Home</p>
        <p>Automatic detection and counting website of slash pine</p>
      </footer>
    </main>
  </body>
</html>
