<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>加入我们</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/join.css" />
    <style>
      .lll {
        margin-top: -50px;
        color: rgb(80 38 163);
        font-size: 2.5em;
      }
      .kkk {
        color: rgb(80, 38, 163);
      }
    </style>
  </head>
  <body>
    <nav class="homenav">
      <div class="navtitle"><strong>SDAU</strong>OUR WEBSITE</div>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Theory</a>
      <a href="/album">Album</a>
      <a href="/join">Contact</a>
      <div class="navanim home"></div>
      <div class="none"></div>
    </nav>
    <div class="mid" id="mid">
      <div class="joinpart" id="jp">
        <div class="left">
          <div class="square"></div>
          <div class="tit">&emsp;Accept</div>
          <br />
          <br />
          <div class="tit">&emsp;advice</div>
        </div>
        <div class="right">
          <div class="goal">
            <h1 class="kkk">Contact us</h1>
            <p class="lll">
              &emsp;&emsp;<strong>Counting made easy</strong>
            </p>
            <div class="meth">
              <div class="icon qq">
                <ul>
                  <li>QQ:1652772212</li>
                </ul>
              </div>
              <div class="icon vx">
                <ul>
                  <li>wechat:X-Lighting77</li>
                </ul>
              </div>
              <a href="#">
                <div class="icon bili">
                  <ul>
                    <li>link to my bilibili</li>
                  </ul>
                </div>
              </a>
              <a href="#">
                <div class="icon gh">
                  <ul>
                    <li>link to my GitHub</li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="foot">
      <p>Contact</p>
      <p>Cease to struggle and you cease to live</p>
    </footer>
  </body>
</html>
